target
target/*
*/target
*/target/*
*/*/target
*/*/target/*
akka/src/main/resources/files/2008.csv
akka/src/main/resources/files/test.csv
factorial*.txt
.classpath
.project
.cache-main
.cache-tests
.DS_Store
.idea
.idea/
.idea/*
.idea/**
wikipedia/**
